
@media only screen and (min-width: 768px) and (max-width: 978px){

#all_content_fixed{
width: 748px;
}

.inner{
width: 748px;
}

#iview {
margin: 25px 0px 15px 20px!important;
float: left!important;
}

#banner_header_728{
margin: 15px 0px 15px 0px!important;
float: left!important;
}

#mainMenu {
width: 748px;
}

#menu_box{
width: 748px;
}

#sub_menu_box{
width: 750px;
margin-left: -1px;
}

#mainMenu ul {
display: none;
}

#mainMenu select {
display: block;
float: left;
position: relative;
margin: 9px 0px 5px 10px;
width: 728px;
height: 27px;
}

#menu_box_footer #secondaryMenu ul {
display: none;
}

#menu_box_footer #secondaryMenu select {
display: block;
float: left;
position: relative;
margin: 0px 0px 5px 3px;
width: 720px;
height: 27px;
}


#home_carousel  .jcarousel-skin-tango {
width: 748px;
}

#home_carousel .jcarousel_container{
width: 748px;
}

.jcarousel_container_title{
width: 748px;
}

.jcarousel_container_title span{
width: 91%;
}

#feat_area_flex{
width: 424px;
height: 314px;
}

#feat_area_flex  .slides img {
width: 424px;
height: 220px;
}

#feat_area_flex .video-wrapper {
width: 424px;
height: 220px!important;
}

#feat_area_flex  .video-container iframe,  
#feat_area_flex  .video-container object,  
#feat_area_flex  .video-container embed {
width: 424px;
height: 220px!important;
}

#feat_area_flex .flex-caption{
max-width: 385px;
}

#feat_area_royal{
width: 728px;
}

#sidebar-top {
margin: 0px 0 5px 0px;
} 

#sidebar-footer{
width: 758px;
} 

.footer-widget{
width: 340px;
margin: 20px 12px 5px 12px;
} 

.footer-heading {
width: 340px;
}

#sidebar-footer .widget_recent_posts li{
width: 330px;
margin: 2px 0 10px -5px;
}

#sidebar-footer .widget_info{
display: inline-block;
width: 227px;
margin: 2px 0px 0 10px;
}

#sidebar-footer .widget_thumbnail img{
min-width: 80px;
max-width: 80px;
min-height: 60px;
max-height: 60px;
}

#sidebar-footer .flickr_wrap {
width: 340px;
display: inline-block;
height: 100%;
}

#sidebar-footer .flickr_wrap img{
width: 74px;
height: 74px;
margin: 0px 9px 10px 2px;
}

#sidebar-footer .twitter_list{
width: 330px!important; 
margin: 0px 0 10px 0px;
}

#crumbs{
max-width: 480px;
}

#credit {
color: #999;
position: relative;
display: inline-block;
float: left;
width: 100%;
padding: 10px 0 10px 10px;
font-size: 12px;
}


#home_content{
width: 440px;
}


.home_posts_container_two_column{
width: 440px;
margin: 0px 0px 27px 0;
}

.home_posts_container_two_column .home_posts_title{
width: 435px;
}
.home_posts_container_two_column .home_posts_title span{
width: 96%;
}

.home_posts_container_two_column .home_posts_two_first .post_format_box{
margin: 5px 0px 0px -28px;
}

.home_posts_container_two_column .home_posts_two h1 a{
margin-left: 0px;
}

.home_posts_container_two_column .home_posts_two .post_three_column_date {
margin-left: 0px;
}

.home_posts_container_two_column .home_posts_two .post_rating{
margin: 0px 0px 0px 240px;
}


.jcarousel_container .home_posts_title span{
width: 88%;
}

.home_posts_title{
width: 428px;
}

.home_posts_two_first{
float:left;
width: 410px;
margin: 0px 0px 20px 15px;
}

.home_posts_two {
margin: 0px 0px 20px 15px;
}

.home_posts_two:last-child {
margin: 0px 0px 10px 15px;
}

.home_posts_two_simple{
margin: 0px 0px 20px 15px;
}

.home_posts_two_simple:last-child{
margin: 0px 0px 20px 15px;
}

.home_posts_one h1 a{
max-width: 220px;
}


.home_posts_container_two_column .home_posts_two_simple h1 a {
margin: 0px 0px 20px -4px;
}


.home_posts_one p, .home_posts_one_simple p{
max-width: 220px;
}

.home_posts_one .post_three_column_date, .home_posts_one_simple .post_three_column_date{
max-width: 220px;
}





.home_posts_three_first{
width: 410px;
min-height: 130px;
margin: 15px 15px 0px 12px;
}

.home_posts_three {
width: 180px;
margin: 10px 15px 0px 10px;
}

.home_posts_three:last-child {
border-bottom: 1px dotted #ddd;
}


.home_gallery_posts{
height: 400px;
}

.pikachoose .pika-stage {
position: relative; 
display: inline-block;
width: 410px;
height: 240px!important;
float: left;
}

.pikachoose .pika-stage img{
width: 405px;
height: 220px;
}

.pikachoose .pika-thumbs {
position: relative;
display: inline-block;
margin: 0px 0 0 3px; 
width: 410px;
height: 160px;
float: left;
}

.pikachoose .pika-thumbs li{
margin: 0px 12px 14px 0px;
}

.jcarousel_title span{
width: 86%;
}



#content {
width: 440px;
float: left;
display: inline-block;
}

#index_content #content {
width: 440px;
}

#content_bread_panel {
width: 100%;
}

#content_bread_panel .search{
display: none;
}

#crumbs{
width: 440px;
}

.post{
width: 290px;
}


.post_one_column_simple{
width: 290px;
}

.post_one_column_simple .post_thumbnail a img{
margin: 0px 0px 15px 0px!important;
}

.post_one_column_simple .post_format_box{
margin: 5px 0px 0px -28px;
}

.chrome .post_one_column_simple .post_format_box{
margin: 5px 0px 0px 260px;
}

.post_content_box{
width: 255px;
margin: 0px 0px 0px 0px;
}

.single_post{
width: 410px;
}

.single_post .single_thumbnail img{
width: 200px;
height: 140px;
}


#similar-post .similar_posts {
margin-bottom: 15px;
margin-right: 15px;
}

.commentlist p{
width: 68%;
}

.children .comment p{
width: 66%;
}

#archive{
width: 410px;
}

#archive_left_col{
width: 180px;
}

#archive_right_col{
width: 180px;
}

.error404_content {
width: 410px;
}

#cf_map{
display: inline-block;
float: left;
width: 407px;
height: 240px;
margin: 5px 0px 15px 0px;
}
 
#cf_map iframe{
margin: 0px;
padding: 0px;
width: 407px;
height: 240px;
}

#content.full_width{
width: 720px;
}

#content.full_width #content_bread_panel{
width: 750px;
}

#content.full_width .single_post{
width: 720px;
}

#content.full_width .single_title h1{
width: 720px;
}



.success, .attention, .warning, .info, .question, .quotes, .comment_box, .color_box, .box_style_one, .box_style_two{
width: 85%;	
}

.single_post .success, .single_post .attention, .single_post .warning, .single_post .info, .single_post .question, .single_post .quotes, .single_post .comment_box, .single_post .color_box, .single_post .box_style_one, .single_post .box_style_two {
width: 73%;
}

.testimonials_style_one, .testimonials_style_two {
width: 87%;	
}

.st_horizontal .testimonials_style_one, .st_horizontal .testimonials_style_two {
width: 93%!important;	
}

.single_post .testimonials_style_one, .single_post .testimonials_style_two{
width: 75%;	
}

.single_title h1{
margin: 0px 0px 15px 0px;
max-width: 350px;
line-height: 25px;
font-size: 20px!important;
}

.single_post .post_rating{
margin: 0px 0px 0px 372px!important;
}

.post_one_column img{
display: inline-block;
width: 240px;
height: 140px;
margin: 0px;
padding: 0px;
float: left;
box-shadow: none!important;
border: none;
}

.single_post .post_two_column{
width: 195px;
}

.post_two_column p{
min-height: 80px;
}

.post_two_column img{
width: 194px!important;
height: 110px!important;
}

.post_three_column{
width: 195px;
}

.post_three_column img{
width: 192px!important;
height: 110px!important;
}

.post_mini_one_column .post_rating{
float: left!important;
margin: 5px 0px 0px 5px!important;
}

.post_nr {
width: 410px;
margin: 5px 0px 25px 0;
}

#soc_book{
margin: 0px 20px 0 20%;
}

#gallery_box{
margin: -20px 0 25px 0px;
}

#gallery_box img{
width: 230px;
height: 215px;
}

#galleria{ 
width: 100%; 
max-width: 458px; 
height: 300px; 
}

.galleria-container img {
height: 85%!important;
max-width: 380px!important;
margin: 18px 0 0 -5px!important;
}

.galleria-thumbnails-container img {
height: 100%!important;
margin: 0px!important;
}

.onehalf img, .one_half_last img, .one_third img, .one_third_last img, .one_fourth img, .one_fourth_last img, .one_fifth img , .one_fifth_last img, .two_third img, .two_third_last img, .three_fourth img, .three_fourth_last img{
max-width: 100%!important; 
}

.home_custom_post_box .onehalf  {
width:32%!important; 
}

.home_custom_post_box  .one_half_last {
width:32%!important; 
}

.chrome .home_custom_post_box .onehalf  {
width:47%!important; 
}

.chrome .home_custom_post_box  .one_half_last {
width: 47%!important; 
}

#menu_box_footer #secondaryMenu{
margin-left: 10px!important;
}

}


@media screen and (min-width: 480px) and (max-width:767px) {

#all_content_fixed{
width: 460px;
}

.inner{
width: 420px;
}

#header {
height: 200px;
}
 
#banner-header{
width: 420px;
height: 50px;
display: inline-block;
margin-top: 30px;
float: left;
}

#banner-header img{
width: 420px;
height: auto;
}

#iview {
margin: 15px 0px 15px 0px!important;
float: left!important;
width: 420px!important;
}

#banner_header_728{
margin: 15px 0px 0px 0px!important;
float: left!important;
}

#banner_header_728 img{
width: 420px;
height: auto;
}

#mainMenu {
width: 420px;
}

#menu_box{
width: 418px;
}

#sub_menu_box{
width: 420px;
}

#mainMenu ul {
display: none;
}

#mainMenu select {
display: block;
float: left;
position: relative;
margin: 9px 0px 5px 10px;
width: 400px;
height: 27px;
}

#menu_box_footer #secondaryMenu ul {
display: none;
}

#menu_box_footer #secondaryMenu select {
display: block;
float: left;
position: relative;
margin: 0px 0px 5px 5px;
width: 420px;
height: 27px;
}

#ticker_panel{
width: 420px;
}

.ticker-wrapper.has-js {
max-width: 250px;
font-size: 11px;
}

.ticker {
width: 250px;
}

#header_reg_box{
max-width: 160px;
}

#ticker_panel .search{
display: none;
}

#home_carousel  .jcarousel-skin-tango {
width: 420px;
}

#home_carousel .jcarousel_container{
width: 420px;
}

.jcarousel_container_title{
width: 420px;
}

.jcarousel_container_title span{
width: 85%;
}


#feat_area_flex{
width: 400px;
height: 306px;
}

#feat_area_flex  .slides img {
width: 400px;
height: 210px;
}

#feat_area_flex .video-wrapper {
width: 400px;
height: 210px!important;
}

#feat_area_flex  .video-container iframe,  
#feat_area_flex  .video-container object,  
#feat_area_flex  .video-container embed {
width: 400px;
height: 210px!important;
}

#feat_area_flex .flex-caption{
max-width: 360px;
}

#feat_area_royal{
width: 400px;
}

.videoGallery .rsTmb {
padding: 12px;
}

.videoGallery .rsThumbs .rsThumb {
width: 140px;
min-height: 75px;
}

.videoGallery .rsThumbs {
width: 140px;
}

.videoGallery .rsThumbs h5{
line-height: 20px;
font-size: 13px;
}

#crumbs{
width: 420px;
}

#home_content{
width: 420px;
}

.home_posts_container_two_column{
width: 420px!important;
margin: 0px 0px 27px 0;
}

.home_posts_container_two_column .home_posts_title{
width: 415px;
}
.home_posts_container_two_column .home_posts_title span{
width: 96%;
}

.home_posts_two h1{
max-width: 78%;
}

.home_posts_container_two_column .home_posts_two h1{
width: 60%!important;
}

.home_posts_container_two_column .home_posts_two h1 a{
margin-left: 0px;
}

.home_posts_container_two_column .home_posts_two .post_three_column_date {
margin-left: 0px;
}

.home_posts_container_two_column .home_posts_two .post_rating{
margin: 0px 0px 0px 240px;
}




.jcarousel_container .home_posts_title span{
width: 86%;
}

.home_posts_title{
width: 410px;
}

.home_posts_container{
width: 420px;
}

.home_posts_two_first{
margin: 0px 0px 20px 15px;
}

.home_posts_two {
width: 393px;
margin: 15px 0px 0px 15px;
}

.home_posts_two {
margin: 0px 0px 20px 15px;
}

.home_posts_two:last-child {
margin: 0px 0px 10px 15px;
}

.home_posts_two_simple{
margin: 0px 0px 20px 15px;
}

.home_posts_two_simple:last-child{
margin: 0px 0px 20px 15px;
}

.home_posts_container_two_column .home_posts_two_simple h1 a {
margin: 0px 0px 20px -4px;
}

.home_posts_one{
width: 393px;
}

.home_posts_one h1 a{
max-width: 200px;
}


.home_posts_one p, .home_posts_one_simple p{
max-width: 200px;
}

.home_posts_one .post_three_column_date, .home_posts_one_simple .post_three_column_date{
max-width: 200px;
}


.home_posts_three_first{
width: 390px;
}

.home_posts_three {
width: 170px;
margin: 10px 15px 0px 10px;
}

.home_posts_three:last-child {
border-bottom: 1px dotted #ddd;
}


.pikachoose .pika-thumbs li{
display: inline-block;
vertical-align: top;
width: 88px; 
height: 64px;
margin: 0px 10px 14px 0;
cursor: pointer;
}

.pikachoose .pika-thumbs li img{
width: 80px!important;
height: 58px!important;
}

.home_gallery_posts{
width: 408px;
height: 400px;
}

.pikachoose {
width: 408px;
height: 245px;
padding: 0px;
display: inline-block;
}

.pikachoose .pika-stage {
position: relative; 
display: inline-block;
height: 242px;
width: 385px;
float: left;
}

.pikachoose .pika-stage img{
height: 224px;
width: 385px;
}

.pikachoose .pika-thumbs {
display: inline-block;
margin: 20px 0 5px 0px!important; 
width: 408px;
height: 150px;
float: left;
}


.jcarousel_title span{
width: 85%;
}




#sidesocial{
display: none;
margin: 30px 0px 15px 0;
float: left;
}

#sidebar-top{
display: none;
}

#sidebar-right {
width: 420px;
float: left;
display: inline-block;
margin: 0px;
background: none;
border: none;
} 

.right-widget{
width: 400px;
} 

.right-heading {
width: 395px;
}

.widget_recent_posts li{
width: 400px;
margin: 2px 0 5px -5px;
}

.widget_info{
width: 290px;
margin: 0px 0px 0 15px;
}

#sidebar-right .flickr_wrap {
width: 420px;
}

#sidebar-right .flickr_wrap img{
width: 67px;
height: 67px;
}

#sidebar-right .twitter_list {
width: 410px;
}

#sidebar-footer .twitter_list{
width: 410px;
}

#sidebar-right .menu{
margin: 0px 0 0 0px;
width: 100%;
}

#sidebar-footer{
width: 420px;
} 

.footer-widget{
width: 410px;
} 

.footer-heading {
width: 410px;
}

#sidebar-footer .widget_recent_posts li{
width: 410px;
margin: 2px 0 5px -5px;
}

#sidebar-footer .widget_info{
width: 290px;
margin: 3px 0px 0 15px;
}

#sidebar-footer .widget_thumbnail img{
min-width: 80px;
max-width: 80px;
min-height: 60px;
max-height: 60px;
}

#sidebar-footer .flickr_wrap {
width: 410px;
}

#sidebar-footer .flickr_wrap img{
width: 73px;
height: 73px;
}


.search{
display: none;
}


#content {
width: 420px;
float: left;
display: inline-block;
}

#index_content #content {
width: 420px;
}

#content_bread_panel {
width: 100%;
}

#content_bread_panel .search{
display: none;
}

.post{
width: 290px;
}

.post_one_column_simple{
width: 290px;
}

.post_one_column_simple .post_thumbnail a img{
margin: 0px 0px 15px 0px!important;
}

.post_one_column_simple .post_format_box{
margin: 5px 0px 0px -28px;
}

.chrome .post_one_column_simple .post_format_box{
margin: 5px 0px 0px 260px;
}



.single_post{
width: 390px;
}

.single_post .single_thumbnail img{
width: 200px;
height: 140px;
}


#similar-post .similar_posts {
margin-bottom: 9px;
margin-right: 9px;
}

.commentlist p{
width: 66%;
}

.children .comment p{
width: 64%;
}

#archive{
width: 390px;
}

#archive_left_col{
width: 175px;
}

#archive_right_col{
width: 175px;
}

.error404_content {
width: 390px;
}

#cf_map{
display: inline-block;
float: left;
width: 390px;
height: 200px;
margin: 5px 0px 15px 0px;
}
 
#cf_map iframe{
width: 390px;
height: 200px;
margin: 0px;
padding: 0px;
}

#content.full_width{
width: 390px;
}

#content.full_width #content_bread_panel{
width: 420px;
}

#content.full_width .single_post{
width: 390px;
}

#content.full_width .single_title h1{
width: 390px;
}

.success, .attention, .warning, .info, .question, .quotes, .comment_box, .color_box, .box_style_one, .box_style_two{
width: 72%;	
}

.single_post .success, .single_post .attention, .single_post .warning, .single_post .info, .single_post .question, .single_post .quotes, .single_post .comment_box, .single_post .color_box, .single_post .box_style_one, .single_post .box_style_two {
width: 72%;
}

.testimonials_style_one, .testimonials_style_two {
width: 80%;	
}

.single_post .testimonials_style_one, .single_post .testimonials_style_two{
width: 74%;	
}

.st_horizontal .testimonials_style_one, .st_horizontal .testimonials_style_two {
width: 87%!important;	
}

.icon_phone_small,.icon_iphone_small,.icon_comments_small,.icon_pointer_small,.icon_mail_small,.icon_pen_small,.icon_arrow_small,.icon_user_small,.icon_users_small,.icon_add_user_small,.icon_contact_small,.icon_heart_small,.icon_star_small,.icon_like_small,.icon_comment_small,.icon_quote_small,.icon_print_small,.icon_flag_small,.icon_settings_small,.icon_cup_small,.icon_camera_small,.icon_view_small,.icon_clock_small,.icon_lock_small,.icon_ok_small,.icon_not_ok_small,.icon_block_small,.icon_info_small,.icon_help_small,.icon_expansion_small,.icon_narrowing_small,.icon_up_small,.icon_down_small,.icon_home_small,.icon_book_small,.icon_search_small {
margin: 0 100% 8px 36%;
}

.single_title h1{
margin: 0px 0px 15px 0px;
max-width: 330px;
line-height: 23px;
font-size: 18px!important;
}

.single_post .post_rating{
margin: 0px 0px 0px 352px!important;
}

.comment-form-author label{
left: 237px;
}

.comment-form-email label{
left: 237px;
}

.comment-form-url label{
left: 237px;
}


.post_one_column img{
display: inline-block;
width: 240px;
height: 140px;
margin: 0px;
padding: 0px;
float: left;
box-shadow: none!important;
border: none;
}

.post_two_column{
width: 185px;
}

.post_two_column img{
width: 188px!important;
height: 110px!important;
}

.post_three_column {
width: 185px;
}

.post_three_column img{
width: 185px!important;
height: 110px!important;
}

.post_three_column p{
min-height: 60px;
}

.post_mini_one_column .post_rating{
float: left!important;
margin: 5px 0px 0px 5px!important;
}

.post_nr {
width: 390px;
margin: 5px 0px 25px 0;
}


#soc_book{
margin: 0px 0px 0 3%;
}

#gallery_box{
margin: -20px 0 25px 0px;
}

#gallery_box img{
width: 230px;
height: 210px;
}

#galleria{ 
width: 100%; 
max-width: 478px; 
height: 300px; 
}

.galleria-container img {
height: 80%!important;
max-width: 300px!important;
margin: 18px 0 0 5px!important;
}

.galleria-thumbnails-container img {
height: 100%!important;
margin: 0px!important;
}

.single_text{
margin-top: 0px;
}

.single_text .flexslider_short {
width: 385px!important;
}

.single_text .flexslider_short li img {
min-width: 385px!important;
}

.error404_content .search{
margin: 10px 0 20px -7px;
float: left;
display: inline-block;
}

.single-entry .search{
float: left;
display: inline-block;
}

.onehalf img, .one_half_last img, .one_third img, .one_third_last img, .one_fourth img, .one_fourth_last img, .one_fifth img , .one_fifth_last img, .two_third img, .two_third_last img, .three_fourth img, .three_fourth_last img{
max-width: 100%!important; 
}

.home_custom_post_box .onehalf  {
width:30%!important; 
}

.home_custom_post_box  .one_half_last {
width:30%!important; 
}

.chrome .home_custom_post_box .onehalf  {
width:47%!important; 
}

.chrome .home_custom_post_box  .one_half_last {
width: 47%!important; 
}

.st_horizontal .video-wrapper {
border: 1px solid #e1e1e1;
background: #fff; 
width: 100%;
display: inline-block;
padding: 5px;
box-shadow: 0px 1px 4px #d1d1d1;
-webkit-box-shadow: 0px 1px 4px #d1d1d1;
-moz-box-shadow: 0px 1px 4px #d1d1d1;
}

.video-wrapper {
border: 1px solid #e1e1e1;
background: #fff; 
width: 97%;
display: inline-block;
padding: 5px;
box-shadow: 0px 1px 4px #d1d1d1;
-webkit-box-shadow: 0px 1px 4px #d1d1d1;
-moz-box-shadow: 0px 1px 4px #d1d1d1;
}

.video_box_shadow{
width: 97%;
}

.st_horizontal #commentsText{
height: 100px; 
width: 200px!important;
}

.gecko .post_thumbnail {
margin: 0px!important;
}

.gecko .single_post .single_thumbnail{
margin-bottom: 0px!important;
}


}


@media only screen and (max-width: 479px) {

#all_content_fixed{
width: 300px;
}

.inner{
width: 300px;
}

#header {
height: 160px;
}

#iview {
margin: 15px 0px 15px 0px!important;
float: left!important;
width: 300px!important;
}


#banner-header{
width: 300px;
height: auto;
display: inline-block;
margin-top: 30px;
float: left;
}

#banner-header img{
width: 300px;
height: auto;
}

#banner_header_728{
margin: 15px 0px 0px 0px!important;
float: left!important;
}

#banner_header_728 img{
width: 300px;
height: auto;
}


#mainMenu {
float: left;
width: 300px;
}

#menu_box{
width: 298px;
}

#sub_menu_box{
width: 300px;
}


#mainMenu ul {
display: none;
}

#mainMenu select {
display: block;
float: left;
position: relative;
width: 280px;
height: 27px;
margin: 9px 0px 5px 10px;
}

#menu_box_footer #secondaryMenu ul {
display: none;
}

#menu_box_footer #secondaryMenu select {
display: block;
float: left;
position: relative;
margin: 2px 0px 5px 5px;
width: 420px;
width: 300px;
}

#ticker_panel{
width: 300px;
}

.ticker-wrapper.has-js {
max-width: 290px;
font-size: 11px;
}

.ticker {
width: 290px;
}

#header_reg_box{
display: none;
}

#ticker_panel .search{
display: none;
}

#title_box{
display: inline-block;
max-width: 320px;
float: left;
margin: 16px 0px 0 0px;
}

.slides .flex-caption{
font-size: 12px;
}

#home_carousel  .jcarousel-skin-tango {
width: 300px;
}

#home_carousel .jcarousel_container{
width: 300px;
}

.jcarousel_container_title{
width: 300px;
}

.jcarousel_container_title span{
width: 78%;
}

#feat_area_flex{
width: 280px;
height: 234px;
}

#feat_area_flex  .slides img {
width: 280px;
height: 140px;
}

#feat_area_flex .video-wrapper {
width: 280px;
height: 140px!important;
}

#feat_area_flex  .video-container iframe,  
#feat_area_flex  .video-container object,  
#feat_area_flex  .video-container embed {
width: 280px;
height: 140px!important;
}

#feat_area_flex .flex-caption{
font-size: 12px;
max-width: 240px;
}

#feat_area_royal{
width: 280px;
}

.videoGallery .rsTmb {
padding: 10px;
}

.videoGallery .rsThumbs .rsThumb {
width: 70px;
min-height: 53px;
}

.videoGallery .rsThumbs {
width: 70px;
}

.videoGallery .rsThumbs h5{
line-height: 20px;
font-size: 12px;
}

#home_content{
width: 300px;
}


.home_posts_container_two_column{
width: 300px!important;
margin: 0px 0px 27px 0;
}

.home_posts_container_two_column .home_posts_title{
width: 295px;
}
.home_posts_container_two_column .home_posts_title span{
width: 94%;
}

.home_posts_container_two_column  .home_posts_two_first img{
width: 270px!important;
height: 210px!important;
}

.home_posts_two h1{
max-width: 100%;
}

.home_posts_two_simple h1{
max-width: 80%;
}

.home_posts_container_two_column .home_posts_two h1{
width: 83%!important;
}

.home_posts_container_two_column .home_posts_two h1 a{
margin-left: 0px;
}

.home_posts_container_two_column .home_posts_two .post_three_column_date {
margin-left: 0px;
max-width: 180px;
}

.home_posts_container_two_column .home_posts_two_first .post_format_box{
display: inline-block;
margin: 5px 0px 0px -28px;
}

.home_posts_container_two_column .home_posts_two .post_rating{
display: inline-block;
margin: 0px 0px 0px 230px!important;
}


.jcarousel_container .home_posts_title span{
width: 82%;
}

.home_posts_title{
width: 285px;
}

.home_posts_two_first{
margin: 0px 0px 20px 15px;
}

.home_posts_two {
margin: 0px 0px 20px 15px;
width: 270px;
}

.home_posts_two:last-child {
margin: 0px 0px 10px 15px;
}

.home_posts_two_simple{
margin: 0px 0px 20px 15px;
}

.home_posts_two_simple:last-child{
margin: 0px 0px 20px 15px;
}

.home_posts_container_two_column .home_posts_two_simple h1 a {
margin: 0px 0px 20px -4px;
}

.home_posts_two .post_three_column_date {
max-width: 145px;
}

.home_posts_two .post_rating{
margin: 0px 0px 0px 200px!important;
display: none;
}



.home_posts_container{
width: 300px;
}

.home_posts_one{
width: 275px;
margin: 15px 0px 0px 12px;
padding: 0px 0px 15px 0px;
}

.home_posts_one h1, .home_posts_one_simple h1{
width: 265px;
}

.home_posts_one h1 a, .home_posts_one_simple h1 a{
margin-top: 15px;
}

.home_posts_one p, .home_posts_one_simple p{
max-width: 265px;
}

.home_posts_one .post_three_column_date, .home_posts_one_simple .post_three_column_date{
max-width: 265px;
}



.home_posts_three_first{
width: 270px;
padding-bottom: 10px;
}

.home_posts_three_first h1 a{
display: inline-block;
margin: 10px 0 5px 0;
}

.home_posts_three {
width: 260px;
}

.home_posts_three:nth-child(7) {
border-bottom: 1px dotted #ddd;
margin-bottom: 0px;
}

.home_posts_three:nth-child(8) {
border-bottom: none;
margin-bottom: 10px;
}

.home_custom_posts_container{
width: 300px;
}

.home_custom_post_box{
width: 280px;
}

.home_gallery_posts{
width: 270px;
height: 310px;
}

.pikachoose {
width: 270px;
height: 245px;
}

.pikachoose .pika-stage {
height: 160px;
width: 270px;
}

.pikachoose .pika-stage img{
height: 150px;
width: 263px;
}

.pikachoose .pika-stage .caption { 
max-width: 225px;
font-size: 14px; 
bottom: 25px; 
}

.pikachoose .pika-thumbs {
margin: 20px 0 5px 0px!important; 
width: 284px;
height: 250px;
float: left;
}

.pikachoose .pika-thumbs li{
display: inline-block;
vertical-align: top;
width: 80px; 
height: 56px;
margin: 0px 10px 14px 0;
cursor: pointer;
}

.pikachoose .pika-thumbs li img{
width: 74px!important;
height: 50px!important;
}

.jcarousel_title span{
width: 79%!important;
}

#sidebar-right {
width: 300px;
float: left;
display: inline-block;
margin: 0px;
background: none;
border: none;
} 

#sidebar-top{
display: none;
}

.right-widget{
width: 280px;
} 

.right-heading {
width: 275px;
}

.widget_recent_posts li{
width: 280px;
margin: 2px 0 5px -5px;
}

.widget_info{
width: 170px;
margin: 0px 0px 0 15px;
}

#sidebar-right .flickr_wrap {
width: 300px;
}

#sidebar-right .flickr_wrap img{
margin: 0px 9px 9px 1px;
width: 80px;
height: 80px;
}

#sidebar-right .twitter_list {
width: 278px;
}

#sidebar-footer .twitter_list {
width: 278px;
}

#sidebar-right .menu{
margin: 0px 0 0 0px;
width: 100%;
}

#sidebar-footer{
width: 300px;
margin: 30px 0 5px 0;
} 

.footer-widget{
width: 280px;
padding: 0px 10px 10px 10px;
margin: 0px 0 27px 0;
} 

.footer-heading {
width: 290px;
}

#sidebar-footer .widget_recent_posts li{
width: 280px;
margin: 2px 0 5px -5px;
}

#sidebar-footer .widget_info{
width: 170px;
margin: 3px 0px 0 15px;
}

#sidebar-footer .widget_thumbnail img{
min-width: 80px;
max-width: 80px;
min-height: 60px;
max-height: 60px;
}

#sidebar-footer .flickr_wrap {
width: 300px;
}

#sidebar-footer .flickr_wrap img{
margin: 0px 9px 10px 1px;
width: 88px;
height: 88px;
}

#crumbs{
width: 300px;
}

#credit {
color: #999;
position: relative;
display: inline-block;
float: left;
width: 100%;
padding: 10px 0 10px 10px;
font-size: 12px;
}

.search{
display: none;
}

#archive{
width: 270px;
display: inline-block;
}

#archive_left_col{
width: 265px;
margin-right: 0px;
margin-top: -20px;
}

#archive_right_col{
width: 265px;
}

.archive_title{
margin: 20px 0 14px 0;
}

#cf_map{
display: inline-block;
float: left;
width: 270px;
height: 200px;
margin: 5px 0px 15px 0px;
}
 
#cf_map iframe{
width: 270px;
height: 200px;
margin: 0px;
padding: 0px;
}


#content.full_width{
width: 270px;
}

#content.full_width #content_bread_panel{
width: 300px;
}

#content.full_width .single_post{
width: 270px;
}

#content.full_width .single_title h1{
width: 270px;
}


#contact textarea {
width: 250px!important;
}

#sidesocial{
display: none;
margin: 30px 0px 15px 0;
float: left;
}

.sidebar-top{
display: none;
margin: 10px 0px 15px 0px;
float: left;
}

.jcarousel_title span{
width: 85%;
}




#content {
width: 280px;
float: left;
display: inline-block;
}

#index_content #content {
width: 280px;
}

#content_bread_panel {
width: 300px;
}

#content_bread_panel .search{
display: none;
}

.post{
padding: 5px;
width: 290px;
}

.post_one_column_simple{
width: 280px;
}

.post_one_column_simple .post_thumbnail a img{
width: 280px;
height: 190px;
margin: 0px 0px 15px 0px!important;
}

.post_one_column_simple .post_format_box{
margin: 5px 0px 0px -28px;
}

.chrome .post_one_column_simple .post_format_box{
margin: 5px 0px 0px 250px;
}




.single_post{
width: 270px;
}

.single_post .single_thumbnail{
width: 265px;
height: 150px;
margin: 0 0 7px 0;
}

.single_post .single_thumbnail img{
width: 270px;
height: 180px;
margin-bottom:15px;
}

#similar-post .similar_posts {
margin-bottom: 15px;
margin-right: 0px;
}

.commentlist p{
width: 52%;
}

.children .comment {
float: right;
padding: 10px 5px 0 6px;
clear:both;
width: 99%;
margin: 10px 5px 10px 0;
}

.children .comment p{
width: 51%;
}

textarea#comment  {
width: 250px;
}

.comment-form-author label{
left: 237px;
}

.comment-form-email label{
left: 237px;
}

.comment-form-url label{
left: 237px;
}

.single_title h1{
margin: 0px 0px 15px 0px;
max-width: 210px;
line-height: 22px;
font-size: 17px!important;
}

.single_post .post_rating{
margin: 0px 0px 0px 232px!important;
}

.post_one_column img{
display: inline-block;
width: 100px;
height: 70px;
margin: 0px;
padding: 0px;
float: left;
box-shadow: none!important;
border: none;
}

.post_two_column{
width: 300px;
}

.post_two_column img{
width: 296px!important;
height: 160px!important;
}

.post_two_column p{
min-height: 50px;
}

.post_three_column{
width: 300px;
}


.post_three_column img{
width: 296px!important;
height: 160px!important;
}

.post_three_column p{
min-height: 50px;
}

.post_mini_one_column{
width: 94%;
}

.post_mini_one_column .post_rating{
float: left!important;
margin: 5px 0px 0px 5px!important;
}

.post_mini_one_column img{
margin-bottom: 10px;
}

.post_mini_one_column h1 a{
display: inline-block;
margin-bottom: 5px;
}

.success, .attention, .warning, .info, .question, .quotes, .comment_box, .color_box{
width: 81%;	
}

.box_style_one, .box_style_two{
width: 80%;	
}

.testimonials_style_one, .testimonials_style_two {
width: 82%;	
}

.st_horizontal .testimonials_style_one, .st_horizontal .testimonials_style_two {
width: 80%!important;	
}



#soc_book{
margin: 0px 0px 0 3%;
}

.error404_content {
width: 270px;
}

.error404_content .search{
margin: 10px 0 20px -7px;
float: left;
display: inline-block;
}

.single-entry .search{
float: left;
display: inline-block;
}

.post_nr {
width: 270px;
margin: 0px 0px 25px 0;
}

.search-results{
width: 100%!important;
float: left!important;
display: inline-block!important;
}

.search-no-results{
width: 100%!important;
float: left!important;
display: inline-block!important;
}

.onehalf, .one_half_last, .one_third, .one_third_last, .one_fourth, .one_fourth_last, .one_fifth, .one_fifth_last, .two_third, .two_third_last, .three_fourth, .three_fourth_last{
width: 100%!important;
}

.onehalf img, .one_half_last img, .one_third img, .one_third_last img, .one_fourth img, .one_fourth_last img, .one_fifth img , .one_fifth_last img, .two_third img, .two_third_last img, .three_fourth img, .three_fourth_last img{
max-width: 97%!important; 
}

a.button_custom {
margin: 15px 10px 15px 0;
}


.st_horizontal .video-wrapper {
border: 1px solid #e1e1e1;
background: #fff; 
width: 96%;
display: inline-block;
padding: 5px;
box-shadow: 0px 1px 4px #d1d1d1;
-webkit-box-shadow: 0px 1px 4px #d1d1d1;
-moz-box-shadow: 0px 1px 4px #d1d1d1;
}

.video-wrapper {
width: 96%;
}

.video_box_shadow{
width: 97%;
}


#galleria{ 
width: 270px; 
height: 250px; 
}
 
.galleria-container img {
height: 74%!important;
max-width: 200px!important;
margin: 18px 0 0 17px!important;
}

.galleria-thumbnails-container img {
height: 100%!important;
margin: 0px!important;
}

.st_horizontal #commentsText{
height: 100px; 
width: 200px!important;
}

#soc_book{
float: left;
margin: 10px 0 0 80px;
}

.right{
float: left;
}


}